input,
button {
  border: 2px solid $red;
  border-radius: 4px;
  outline: none;
  padding: 10px 14px;
  font-weight: 900;
  color: $red;
  font-size: 16px;
  background-color: transparent;
}
button {
  padding: 12px 32px;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    transition-duration: 350ms;
    background-color: $red;
    color: white;
  }
  &.small {
    padding: 7px 14px;
    padding-top: 7px;
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  &.gray {
    background-color: #f2f2f2;
    color: gray;
    border-color: #f2f2f2;
  }
}

input {
  color: $black;
  &:focus {
    background-color: #f2f2f2;
    transition-duration: 350ms;
    border-color: #f2f2f2;
  }
}
.search-field {
  font-size: 3.375rem;
  border: none;
  background: none;
  width: auto;
  padding: 0;
  &:focus {
    background-color: transparent;
  }
  &::placeholder {
    color: $purple;
  }
  @media (max-width: 600px) {
    font-size: 2rem;
    padding-top: 2.5rem;
  }
}

::placeholder {
  color: lightgray;
}
::-ms-input-placeholder {
  color: lightgray;
}
