body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 0.75rem;
}
h2 {
  font-weight: 900;
}
h5 {
  font-weight: 300;
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1.2;
}
h5,
p {
  margin: 8px 0;
}

.bold {
  font-weight: 700;
}
.underlined {
  text-decoration: underline;
}
.downcase {
  text-transform: none;
}
